{% extends "base_dunning.html" %}

{% block intro_text %}
<p>Sehr geehrte Damen und Herren,</p>

<p>
    trotz unserer Zahlungserinnerung ist der unten aufgefuehrte Betrag
    immer noch offen. Wir moechten Sie daher nochmals auffordern, die
    ausstehende Forderung umgehend zu begleichen.
</p>

<p>
    Bitte beachten Sie, dass wir ab dem Faelligkeitsdatum berechtigt sind,
    Verzugszinsen nach &sect;288 BGB zu berechnen. Diese sind in der
    nachfolgenden Aufstellung bereits enthalten.
</p>
{% endblock %}

{% block closing_text %}
<p>
    Sollte es Ihrerseits Gruende fuer die verspaetete Zahlung geben,
    bitten wir um eine kurze Rueckmeldung.
</p>

<p>Mit freundlichen Gruessen</p>
{% endblock %}
